<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    
      <!--Environments URLs-->
      <add key="WebApppUrl" value="http://localhost/WebAppVV6_3/Pages/" />
      <add key="createBookingurl" value="http://localhost/WebAppVV6_3/Pages/BookingEdit.aspx"/>
      <add key="diaryPage" value="http://localhost/WebAppVV6_3/Pages/Index.aspx"/>
    
      <!-- Valid login Credentials-->
      <add key="ValidUsername" value="gg" />
      <add key="ValidPassword" value="gg" />
    
      <!--Invalid Login Credentials-->
      <add key="InvalidUsername" value="invalid" />
      <add key="InvalidPassword" value="invalidss23232" />
    
      <!--Create New Booking Credentials-->
    <add key="Title" value="Test005" />
    <add key="FromDate" value="15/01/2018 10:00 AM" />
    <add key="ToDate" value="15/01/2018 11:00 AM" />
    <add key="InternalVisitorName" value="priyacontact" />
    
     <!--Enter Existing Booking Details for BookingSearch-->
     <add key="ExistingBooking_Title" value="SetUp" />
    <add key="ExistingBooking_RefNumber" value="M5199" />
    <add key="ExistingBooking_FromDate" value="23/01/2018" />
    <add key="ExistingBooking_ToDate" value="23/01/2018" />
    <add key="ExistingBooking_Host" value="Georoge" />
    
    <!--Enter new Booking details for UpdateBooking-->
   
    <add key="New_Title" value="UpdatedBookingTesT" />
    <add key="New_Host" value="Prince" />
    <add key="New_Requester" value="John" />
    <add key="Notes" value="Updating... the Booking wait for moment :) :)" />
    <add key="SpecialRequest" value="Room Should Have Garden View" />
    <add key="participants_Count" value="3" />
    
   
  



  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>